.task-item {
	display: flex;
	flex-direction: row;
}

.task-item-content {
	flex: 1;
	display: flex;
}

.task-date {
	display: flex;
	font-size: 0.75em;
	flex-direction: column;
	min-width: 5em;
	gap: 0.125em;
}

@media (max-width: 768px) {
	.task-item-content {
		flex-direction: column;
	}

	.task-date {
		flex-direction: row;
		gap: 1em;
	}
}

.task-status-icon {
	font-size: 1.33em;
	margin-right: 0.125em;
}

.task-title {
	font-size: 1.125em;
	font-weight: bold;
	color: var(--bulma-text-strong);
}

.task-msg {
	font-size: 0.75em;
}
