// Bulma Extensions

@use 'sass:list';

$theme-color: #0b7f4e;
$uphurry-color: #7f0b6b;

@use 'bulma/sass' with (
	$family-primary:
		'Pretendard, Inter, SF Pro, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif',
	$primary: $theme-color
);

@use 'bulma/sass/utilities' as bulma;

.has-border {
	border: 1px solid var(--bulma-border);
}

@each $name, $pair in bulma.$colors {
	$color: list.nth($pair, 1);
	.has-border-#{$name} {
		border: 1px solid var(--bulma-#{$name});
	}
}

.dropdown-trigger > button {
	display: block;
}
