@font-face {
	font-family: 'Pretendard';
	src: url('/fonts/Pretendard/PretendardJPVariable.woff2') format('woff2');
	font-weight: 100 900;
	font-display: swap;
}

@font-face {
	font-family: 'Source Han Serif';
	src: url('/fonts/SourceHanSerif/SourceHanSerif-VF.otf.woff2')
		format('woff2');
	font-weight: 100 900;
	font-display: swap;
}

@font-face {
	font-family: 'Jetbrains Mono';
	src: url('/fonts/JetBrainsMono/JetBrainsMono-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Jetbrains Mono';
	src: url('/fonts/JetBrainsMono/JetBrainsMono-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Jetbrains Mono';
	src: url('/fonts/JetBrainsMono/JetBrainsMono-ExtraBold.woff2')
		format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Jetbrains Mono';
	src: url('/fonts/JetBrainsMono/JetBrainsMono-ExtraBoldItalic.woff2')
		format('woff2');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}
