@font-face {
	font-family: 'Pretendard';
	src: url('/PretendardJPVariable.woff2') format('woff2');
	font-weight: 100 900;
	font-display: swap;
}

@font-face {
	font-family: 'Source Han Serif';
	src: url('/SourceHanSerif-VF.otf.woff2') format('woff2');
	font-weight: 100 900;
	font-display: swap;
}
