@use './bulma-ext.scss';
@use './bulma-nav.scss';
@use './comp-palette.scss';
@use './comp-spinner.scss';
@use './comp-switch.scss';
@use './fonts.scss';
@use './hljs-theme.scss';
@use './panel.scss';
@use './utils.scss';

// Root Styles

:root {
	--uh-theme-color-hex: #0b7f4e;
	--uh-theme-color-hsl: hsl(155, 84%, 27%);

	--bulma-primary-h: 155;
	--bulma-primary-s: 84%;
	--bulma-primary-l: 27%;
	--bulma-primary-invert-l: 95%;

	--bulma-uphurry-h: 310;
	--bulma-uphurry-s: 84%;
	--bulma-uphurry-l: 27%;
	--bulma-uphurry-invert-l: 95%;

	--sans-serif-family:
		Pretendard, Inter, SF Pro, Segoe UI, Roboto, Oxygen, Ubuntu,
		Helvetica Neue, Helvetica, Arial, sans-serif !important;
	--serif-family: 'Source Han Serif', 'Noto Serif', 'Times New Roman', serif;
	--monospace-family:
		'Noto Sans Mono', 'SF Mono', 'Consolas', 'Menlo', 'Courier New',
		'Fira Code', 'Fira Mono', monospace;

	--bulma-family-primary: var(--sans-serif-family);

	--uh-blur: blur(3px);
	--uh-blur-opacity: 0.8;

	--uh-bottom-input-border: 1px solid hsl(0, 0%, 85%);
	--uh-navbar-l: 100%;

	--msg-font-size: 15px;
	--msg-code-font-size: 13px;

	tab-size: 4;
}

:root.font-serif {
	--bulma-family-primary: var(--serif-family);
	--bulma-body-weight: 500;
	--bulma-strong-weight: 800;
	--bulma-weight-semibold: 700;
	--bulma-weight-bold: 900;
}

@media (prefers-color-scheme: dark) {
	:root {
		--uh-navbar-l: 0%;
		--uh-blur-opacity: 0.65;

		--uh-bottom-input-border: 1px solid hsl(0, 0%, 35%);

		--bulma-body-background-color: hsl(0, 0%, 0%);
	}
}

.is-uphurry {
	--bulma-primary-h: var(--bulma-uphurry-h) !important;
}

// Common

code,
pre {
	font-family: var(--monospace-family);
}

// Toast Item

.toast-item {
	color: var(--bulma-body-color) !important;
	background-color: var(--bulma-background) !important;
	overflow-wrap: break-word;

	& > div > svg {
		width: 1.25em;
		height: 1.25em;
	}
}

.message-body > .content {
	font-size: 0.9375rem;
}

.content {
	overflow-wrap: break-word;
	margin: 0.25rem 0;
}

.content pre {
	border-radius: 0.5rem;
	background-color: #cccccc30;
	padding: 0.75rem;
}

.msg-raw {
	padding: 0.25rem 0;
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-all;
	font-family: var(--monospace-family);
	font-size: var(--msg-code-font-size);
	line-height: 1.2;
}

div.msg-user.message-body {
	margin-left: 2rem;
	--bulma-text-strong: hsl(
		var(--bulma-primary-h),
		var(--bulma-primary-s),
		var(--bulma-primary-invert-l)
	);
	--bulma-strong-color: var(--bulma-text-strong);
	color: hsl(
		var(--bulma-primary-h),
		var(--bulma-primary-s),
		var(--bulma-primary-invert-l)
	);
	background-color: hsl(
		var(--bulma-primary-h),
		var(--bulma-primary-s),
		var(--bulma-primary-l)
	);
	border-radius: 1.25rem 0.125rem 1.25rem 1.25rem;
	padding: 0.25rem 1rem;
}

div.message-body {
	padding: 0.25rem 0.5rem;
	overflow: hidden;

	& img {
		border-radius: 0.5rem;
		overflow: hidden;
	}
}

.msg-code-bottom-btns > span {
	display: inline-block;
	border-radius: 0.5rem;
	height: auto;
	background-color: #cccccc30;
}

.msg-code {
	border-radius: 0.5rem;
	background-color: #cccccc30;
	padding: 0.75rem;
	font-family: var(--monospace-family);
	font-size: var(--msg-code-font-size);
	margin: 0.25rem 0;

	position: relative;

	& > header {
		margin-bottom: 0.5rem;
		padding-bottom: 0.5rem;
		border-bottom: 1px solid var(--bulma-text-soft);

		cursor: pointer;
		user-select: none;
		-webkit-user-drag: none;
		-webkit-user-select: none;
	}

	& > footer {
		display: inline-block;
		height: 1rem;
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 0.5rem;
	}
}

.msg-code-fold {
	cursor: pointer;
	user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
}

.msg-code-body {
	white-space: pre-wrap;
	word-break: break-all;

	& svg {
		max-width: 100%;
	}
}

.input-tags {
	flex: 1;
	display: flex;

	white-space: nowrap;
	overflow-x: scroll;

	&::-webkit-scrollbar {
		display: none;
	}
}

.streaming-msg {
	white-space: pre-wrap;
	word-break: break-all;
	font-size: var(--msg-font-size);
	opacity: 0.9;

	padding: 0 0.5rem;
}

.msg-group:last-child {
	min-height: calc(100svh - 52px - 11rem);
	margin-bottom: 50svh;
}

.msg-code img {
	object-fit: contain;
	width: 100%;
	max-height: 60svh;
}

// Bottom input
textarea.autosize-hidden-ta {
	position: fixed;
	visibility: hidden;
	pointer-events: none;
	height: 0;
}

textarea::placeholder {
	font-style: italic;
	opacity: 0.5;
}

.bottom-input {
	border: var(--uh-bottom-input-border);
	border-radius: 0.66rem;
	margin: 0.5rem;
	padding: 0.5rem;

	background-color: hsla(0, 0%, var(--uh-navbar-l), var(--uh-blur-opacity));
	backdrop-filter: var(--uh-blur);
	-webkit-backdrop-filter: var(--uh-blur);

	outline-color: #00000000;
	outline-width: 1px;
	outline-offset: -1px;
	outline-style: solid;

	transition: outline-color 0.1s ease;

	&:focus-within {
		outline-color: hsl(
			var(--bulma-primary-h),
			var(--bulma-primary-s),
			var(--bulma-primary-l)
		);
	}

	&:has(.mic-recording) {
		outline-color: var(--bulma-danger);
	}

	&:has(.uphurry) {
		outline-color: var(--bulma-uphurry);
	}

	& textarea {
		margin: 0.25rem 0;
		border: none;
		background-color: transparent;
		width: 100%;
		max-height: 40dvh;
		resize: none;
		overflow-x: hidden;
		overflow-y: auto;
		font-size: 1rem;
		font-family: var(--bulma-family-primary);
		color: var(--bulma-text-bold);
	}

	& textarea:focus {
		outline: none;
	}

	& .buttons {
		display: flex;
		align-items: end;
	}
}

.artifact-cell {
	aspect-ratio: 1;
	border: 1px solid var(--bulma-text-soft);
	background-size: cover;

	word-break: break-all;
	overflow-wrap: break-word;

	font-size: 8px;
	overflow-y: hidden;
}

.modal-qr-content {
	word-break: break-all;
	overflow-wrap: break-word;
	overflow: hidden;
}

.modal-qr-code > svg {
	max-width: 100%;
}

.log-container {
	font-size: 10px;
	font-family: var(--monospace-family);
}
