// bulma

@use 'bulma/bulma.scss';

// Fonts

@font-face {
	font-family: 'Pretendard';
	src: url('/PretendardJPVariable.woff2') format('woff2');
	font-weight: 100 900;
	font-display: swap;
}

// Common helpers

.flex-split {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.no-user-select {
	user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
}

.thin-hr {
	height: 1px;
	opacity: .1;
}

// Root Styles

:root {
	--uh-theme-color-hex: #0b7f4e;
	--uh-theme-color-hsl: hsl(155, 84%, 27%);

	--bulma-primary-h: 155;
	--bulma-primary-s: 84%;
	--bulma-primary-l: 27%;
	--bulma-primary-invert-l: 95%;

	--bulma-family-primary:
		Pretendard, Inter, SF Pro, Segoe UI, Roboto, Oxygen, Ubuntu,
		Helvetica Neue, Helvetica, Arial, sans-serif !important;
	--uh-blur: blur(3px);
	--uh-blur-opacity: 0.8;

	--uh-bottom-input-border: 1px solid hsl(0, 0%, 85%);
	--uh-navbar-l: 100%;
}

@media (prefers-color-scheme: dark) {
	:root {
		--uh-navbar-l: 0%;
		--uh-blur-opacity: 0.65;

		--uh-bottom-input-border: 1px solid hsl(0, 0%, 35%);

		--bulma-body-background-color: hsl(0, 0%, 0%);
	}
}

// Components

.spinner {
	animation: spinAround 500ms infinite linear;
	border: 0.25rem solid var(--bulma-primary);
	border-radius: var(--bulma-radius-rounded);
	border-right-color: transparent;
	border-top-color: transparent;
	content: '';
	display: inline-block;
	vertical-align: bottom;
	height: 1.25rem;
	width: 1.25rem;
}

nav.navbar {
	--bulma-navbar-l: var(--uh-navbar-l);
}

nav.navbar {
	background-color: hsla(0, 0%, var(--uh-navbar-l), var(--uh-blur-opacity));
	backdrop-filter: var(--uh-blur);
}

.navbar-menu,
.navbar-menu .navbar-dropdown a.navbar-item {
	background: #00000000;
}

.navbar-burger {
	color: var(--uh-theme-color-hex) !important;
}

.toast-item {
	color: var(--bulma-body-color) !important;
	background-color: var(--bulma-background) !important;
	overflow-wrap: break-word;

	& > div > svg {
		width: 1.25em;
		height: 1.25em;
	}
}

svg {
	vertical-align: top;
	width: 1.25em;
	height: 1.25em;
}

a > svg {
	vertical-align: top;
	width: 1.25em;
	height: 1.25em;
}

.navbar-item > .icon {
	margin: 0 !important;
}

code {
	background-color: var(--bulma-text-soft) !important;
	color: var(--bulma-danger-bold) !important;
}

textarea.textarea.inline {
	min-height: 0 !important;
	padding: var(--bulma-control-padding-vertical)
		var(--bulma-control-padding-horizontal);
}

div.msg-user .message-body {
	margin-left: 2rem;
	color: var(--bulma-primary-invert);
	background-color: var(--bulma-primary);
	border-radius: 1.25rem 0.125rem 1.25rem 1.25rem;
}

div.message-body {
	padding: 0.5rem 0.75rem;
	overflow-x: scroll;
}

.msg-code-bottom-btns > span {
	display: inline-block;
	border-radius: 0.5rem;
	height: auto;
	background-color: #cccccc30;
}

.msg-code {
	border-radius: 0.5rem;
	background-color: #cccccc30;
	padding: 0.75rem;
	font-family: monospace;
	margin: 0.25rem 0;

	position: relative;

	& > header {
		margin-bottom: 0.5rem;
		padding-bottom: 0.5rem;
		border-bottom: 1px solid var(--bulma-text-soft);

		cursor: pointer;
		user-select: none;
		-webkit-user-drag: none;
		-webkit-user-select: none;
	}

	& > footer {
		display: inline-block;
		height: 1rem;
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 0.5rem;
	}
}

.msg-code-fold {
	cursor: pointer;
	user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
}

.msg-code-body {
	white-space: pre-wrap;
	word-break: break-all;

	& .hljs-keyword {
		font-weight: bold;
		color: var(--bulma-danger-bold);
	}

	& .hljs-title {
		color: var(--bulma-info-bold);
	}

	& .hljs-params {
		font-style: italic;
	}

	& .hljs-number,
	& .hljs-string {
		color: var(--bulma-warning-bold);
	}

	& .hljs-built_in {
		font-weight: bold;
		color: var(--bulma-primary-bold);
	}

	& .hljs-comment {
		font-style: italic;
		color: var(--bulma-success);
	}
}

span[aria-hidden='true'] {
	display: none;
}

.msg-svg svg {
	max-width: 100%;
}

.content {
	//word-break: break-all;
	//word-wrap: break-word;
	overflow-wrap: break-word;
	margin: 0.25rem 0;
}

.input-tags {
	white-space: nowrap;
	overflow-x: scroll;
}

.streaming-msg {
	white-space: pre-wrap;
	word-break: break-all;

	padding: 0 0.75rem;

	color: var(--bulma-text-soft-invert);
	border-radius: 0.5rem;

	margin-bottom: 100dvh;
}

.msg-group:last-child {
	min-height: calc(100svh - 52px - 11rem);
	margin-bottom: 10rem;
}

// Bottom input
.bottom-input {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;

	border: var(--uh-bottom-input-border);
	border-radius: 1rem;
	margin: 0.5rem;
	padding: 0.5rem;

	background-color: hsla(0, 0%, var(--uh-navbar-l), var(--uh-blur-opacity));
	backdrop-filter: var(--uh-blur);

	&:has(textarea:focus) {
		outline: 1px solid var(--bulma-primary);
	}

	& textarea {
		margin: 0.25rem 0;
		border: none;
		background-color: transparent;
		width: 100%;
		resize: none;
		overflow: hidden;
		font-size: 1rem;
		font-family: var(--bulma-family-primary);
		color: var(--bulma-text-bold);
	}

	& textarea:focus {
		outline: none;
	}

	& .buttons {
		display: flex;
		align-items: end;
	}

	& .input-tags {
		flex: 1;
	}

	.button-mic {
		border-radius: 999rem;
	}

	.button-send {
		border-radius: 999rem;
	}
}
